.Dft_block
{
background-color : rgba(255,255,249,0.7);/*背景色*/
border : 3px solid red;/*边框：3像素 实线 红色*/
border-radius : 4px;/*圆角：4像素*/
margin : 15px 30px 15px 30px;/*边外距*/
padding : 25px 10px 25px 10px;/*边内距*/
text-indent : 2em;/*首行缩进*/
line-height : 1.15;/*行高*/
font-family : "Times New Roman","宋体",serif;/*字体族*/
}
body
{
  background-image : url("ogas.png");
  background-attachment: fixed;
  background-size: 100%;
  }